<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('web.index') }}">Home</a>
        <a href="{{ url_for('web.about') }}">About</a>
        <a href="{{ url_for('web.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('api_v1.doc') }}">API Docs</a>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html> 