<div class="col-md-3">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Navigazione</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ safe_url_for('dashboard.index') }}" class="text-decoration-none">Dashboard</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ safe_url_for('dashboard.users') }}" class="text-decoration-none">Gestione Utenti</a>
                </li>
                <!-- Aggiungi altri link qui in futuro -->
            </ul>
        </div>
    </div>
</div> 